body {
  font-family: sans-serif;
}
/* Make content area fill the entire browser window */
html,


.fullscreen {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #071013;
}

/* Center the content in the browser window */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cercle {
  opacity: 1.0;
  transition: 0.1s;
	width: 100px;
  height: 100px;
  border-radius:50%;
  margin: 35px;
}

.cercle:hover {
	transform: scale(1.2);
}

.cercle:active {
  background-color: white;
}

.cercle.active {
  background-color: white;
}

#blue {
  border: 4px solid #1A8FE3; 
}

#purple {
  border: 4px solid #6610F2; 
}

#red {
  border: 4px solid #D11149; 
}

#orange {
  border: 4px solid #F17105; 
}

button {
	min-width: 120px;
	background: white;
	border-radius: 10px;
	text-align: center;
  transition: 0.3s;
  border: 0;
}

.buttons {
	width: 100%;
	float: left;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: white;
}